<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
	    <link rel="stylesheet" href="/public/css/styles.css">
    </head>
    <body>
        <header>
            <div id="header-menu">
                <div class="header-left">Home</div>
                <div class="header-center">Games</div>
                <div class="header-center">Groups</div>
                <div class="header-center">Players</div>
                <div class="header-right">Login</div>
            </div>
        </header>
        {{{ body }}}
    </body>
</html>