<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
	    <link rel="stylesheet" href="/public/css/styles.css">
    </head>
    <body>
        <header>
            <div id="header-menu">
                <a href="/"><div class="header-left" >Home</div></a>
                <a href="/search"><div class="header-center" >Search</div></a>
                <a href="/groups"><div class="header-center" >Create Group</div></a>
                <a href="/games"><div class="header-center" >Create Game</div></a>
                <a href="/login" id="header-login-box"><div class="header-right">Login</div></a>
                    <div class="header-right dropdown hidden" id="header-profile-box"> 
                        <a>TEST NAME</a>
                        <div class="dropdown-content">
                            <a href="/users/{{user._id}}">View profile</a>
                            <a href="/logout">Logout</a>
                        </div>
                    </div>
            </div>
        </header>
        <div id="body-background">
        {{{ body }}}
        </div>
        <footer>
            <a>I totally didn't rip off a high noon can for this</a>
        </footer>
    </body>
    
</html>