<!DOCTYPE html>
<html lang="en">
    <head>
        <head>
        <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{title}}</title>
	    <link rel="stylesheet" href="/public/css/styles.css">
    </head>
    <body>
        <header>
            <div id="headerLeft">Home</div>
            <div id="headerCenter">Games</div>
            <div id="headerCenter">Groups</div>
            <div id="headerCenter">Players</div>
            <div id="headerRight">Login</div>
        </header>
        {{{ body }}}
    </body>
</html>