<div class="form-wrapper">
    <form id="slideshow-form">
        <label for="slideshow-upload">Upload to slideshow</label>
        <input id="slideshow-upload" type="file" name="slideshow" accept="image/jpeg" multiple>
        <button type="submit" id="image-submit-button">Upload</button>
    </form>

    {{#if isEventPage}}
        <p id="is-event-page" hidden></p>
    {{/if}}
</div>