<div class="form-wrapper">
    <form id="slideshow-form" action="/users/slideshow/{{user._id}}">
        <label for="slideshow-upload">Upload to slideshow</label>
        <input id="slideshow-upload" type="file" name="slideshow" accept="image/jpeg" multiple>
        <button type="submit">Upload</button>
    </form>
</div>