
<main>
    <div class="form-wrapper">
        <form id="create-game-form" class="create-form" method="POST">
            <label class="form-label" for="game-name">Game Name:</label>
                <input class="form-input" type="text" id="game-name" name="game-name"required>
                <br>
            <label class="form-label" for="street-address">Street Address:</label>
                <input class="form-input" type="text" id="street-address" name="street-address" required>
                <br>
            <label class="form-label" for="city">City:</label>
                <input class="form-input" type="text" id="city" name="city" required>
                <br>
            <label class="form-label" for="state">State:</label>
                <input class="form-input" type="text" id="state" name="state" required>
                <br>
            <label class="form-label" for="zip">Zipcode:</label>
                <input class="form-input" type="text" id="zip" name="zip" required>
                <br>
            <label class="form-label" for="description">Description:</label>
                <input class="form-input" type="text" id="description" name="location">
                <br>
            <label class="form-label" for="date">Date:</label>
                <input class="form-input" type="date" id="date" name="date" required>
                <br>
            <label class="form-label" for="start-time">Start Time:</label>
                <input class="form-input" type="time" id="start-time" name="start-time" required>
                <br>
            <label class="form-label" for="end-time">End Time:</label>
                <input class="form-input" type="time" id="end-time" name="end-time" required>
                <br>
            <label class="form-label" for="max-players">Max players:</label>
                <input class="form-input" type="text" id="max-players" name="max-players">
                <br>
            <label class="form-label" for="group">Group:</label>
                <select class="form-input" id="group" name="group" required>
                    {{#each groups}}
                        <option value="{{this._id}}">{{this.groupName}}</option>
                    {{/each}}
                </select>
                <br>
            {{#if currentUser}}
            <button type="submit" class="form-submit-button">Submit</button>
            {{ else }}
            <p>To create a game, please <a href="/login">login</a>.</p>
            {{/if}}
            
        </form>
    </div>
        <a id="error-label" hidden>test</a> <br>
        <a id="status-label" hidden>test2</a> <br>
    <script src='/public/js/gameValidation.js'></script>
</main>