<main>
    <div class="form-wrapper">
        <form action="/groups" method="POST" id="create-group-form" class="create-form">
            <h3>Create group</h3>
            <label class="form-label" for="group-name">Group Name:</label>
                <input class="form-input" type="text" id="group-name" name="groupName">
                <br>
            <label class="form-label" for="description">Description</label>
                <input class="form-input" type="text" id="description" name="groupDescription">
                <br>
            <button type="submit" class="form-submit-button">Create</button>
            
        </form>
    </div>
    <a class="message-label" hidden></a>
    <a class="error-label" hidden></a>
    <script src='/public/js/groupValidation.js'></script>
</main>