<main>
    <div class="form-wrapper">
        <form action="/users/edit/{{currentUser._id}}" method="POST" id="create-user-form" class="create-form">
            <h3>Edit user</h3>
            <label class="form-label" for="username">Username:</label>
                <input class="form-input" type="text" id="username" name="username" value="{{currentUser.username}}">
                <br>
            <label class="form-label" for="email">Email:</label>
                <input class="form-input" type="email" id="email" name="email" value="{{currentUser.emailAddress}}">
                <br>
            <label class="form-label" for="description">Description:</label>
                <input class="form-input" type="text" id="description" name="description" value="{{currentUser.description}}">
                <br>
            <label class="form-label" for="forehand">Are you comfortable throwing forehand?</label>
                <input class="form-input" type="checkbox" id="forehand" name="forehand" value="true" {{#if currentUser.skills.forehand}}checked{{/if}}>
                <br>
            <label class="form-label" for="backhand">Backhand?</label>
                <input class="form-input" type="checkbox" id="backhand" name="backhand" value="true" {{#if currentUser.skills.backhand}}checked{{/if}}>
                <br>
            <label class="form-label" for="stall">Counting stalls?</label>
                <input class="form-input" type="checkbox" id="stall" name="stall" value="true" {{#if currentUser.skills.stall}}checked{{/if}}>
                <br>
            <label class="form-label" for="pull">Do you know what a pull is?</label>
                <input class="form-input" type="checkbox" id="pull" name="pull" value="true" {{#if currentUser.skills.pull}}checked{{/if}}>
                <br>
                
            <button type="button" class="form-submit-button" onclick="window.history.back();">Cancel</button>
            <button type="submit" class="form-submit-button">Submit</button>
        </form>
    </div>

    {{> updatePfp}}
    {{> addToSlideshow}}

    <p id="error-label" hidden></a>
    <p id="message-label" hidden></a>
    
    <script src="/public/js/pictures.js"></script>
</main>