<!-- STILL NEED TO AUTO FILL WITH USERS CURRENT CONTENT -->
<main>
    <div class="form-wrapper">
        <form id="create-group-form" class="create-form" method="POST" action="/groups/edit/{{groupObj._id}}">
            <label class="form-label" for="group-name">Group Name:</label>
                <input class="form-input" type="text" id="group-name" name="groupName" value="{{groupObj.groupName}}">
                <br>
            <label class="form-label" for="description">Description</label>
                <input class="form-input" type="text" id="description" name="groupDescription" value="{{groupObj.description}}">
                <br>
            {{#if currentUser}}
                <button type="submit" class="form-submit-button">Edit</button>
            {{ else }}
                <p>To edit a group, please <a href="/login">login</a> to the owners account.</p>
            {{/if}}
            
        </form>
    </div>
    <a id="error-label" hidden>test</a> <br>
    <a id="status-label" hidden>test2</a> <br>
    <script src='/public/js/groupValidation.js'></script>
</main>