<main>
    <div class="welcome-container">
        <img src="https://storage.googleapis.com/family-frisbee-media/icons/RIC3FamilyLogo.jpg" alt="RIC3 Family Logo" class="logo-image">
    </div>

    <p class="index">
        RIC3 Family Ultimate Frisbee welcomes everyone, which includes kids, youth and adults to toss a frisbee and play ultimate together. 
        We play by Ultimate's 10 simple rules plus RIC3 Family house modifications <a href="http://www.ric3family.com/familyfrisbeerules">here</a>.
        We work to make even matchups and utilize other creative tactics to level the playing field.  
        We adhere to ultimate's Spirit of the Game, which means you play to win, but at the same time respect yourself, 
        teammates, opponents and the game itself. It also means the responsibility of fair play is placed on the athletes themselves, 
        rather than a referee.
    </p>

    <p class="index">
        Every Saturday night, from January through March, we will have an Indoor Family Ultimate Frisbee & 
        Community Night event at the Round Out Municipal Center.  
        Please note, when we are inside, we play with a soft disc. Check the events section for details.
        <a href="https://www.RIC3Family.com/familyfrisbeerules">here</a>.
    </p>

    <img src="https://storage.googleapis.com/family-frisbee-media/icons/Full_court.png" alt="RIC3 Family Ultimate Frisbee" class="home-image">

    <p class="index">
        Please register and go to the event page, if you are interested in joining an event. 
        Use the Search page to find a friend or group. 
        If you have questions, feel free to text Wilkin Lai at <a href="tel:313-525-1255">(313) 525-1255</a> or email 
        <a href="mailto: ultimate@RIC3Family.com">ultimate@RIC3Family.com</a>.
    </p>
    <div class="mortgage-container">
        <img src="https://storage.googleapis.com/family-frisbee-media/icons/RIC3MortgageEqualHousing.jpg" alt="RIC3 Mortgage is a member of RIC3 Fam" class="mortgage-logo">
    </div>
</main>