<main id="index-main">
    <div class="welcome-container" align="left">
        <img src="https://storage.googleapis.com/family-frisbee-media/icons/RIC3FamilyLogo.jpg" alt="RIC3 Family Logo" class="logo-image" >
    </div>

    <p class="index">
        RIC3 FAMILY ULTIMATE FRISBEE is an initiative of RIC3 Creative Community, whose goal is to develop and foster healthy families, vibrant communities and creativity while playing various frisbee games.
        <br>
        Family Ultimate Frisbee – Family means everyone, but especially kids, youth and parents, playing ultimate frisbee together. We work to make even matchups and we modify rules for players of different ages and levels, to make the game fun for everyone. RIC3 Family Ultimate Frisbee sponsors events and regular meetups, i.e. Rockland and New Paltz. Click this <a href="https://www.ric3family.com/familyfrisbeerules">link</a> to find out more about how to play ultimate frisbee, family ultimate rule modifications and the Spirit of the Game.
    </p>
    <br>
    <img src="https://i.ibb.co/34CRHxy/NPYP-Frizz-Bee-Jam-Final-RIC3-CC-Ult.png" alt="FrizzBee Jam Poster" align="left" width="10%" class="index">
    <p class ="index">
        NPYP FrizBee Jam – NPYP stands for the New Paltz Youth Program (aka “youth center”). NPYP FrizzBee Jam is a youth cypher mixing music (live, recorded, karaoke), art plus other activities while collaborating with flying frisbees of all colors, shapes and sizes and frisbee games such as frizzbee jazz, ultimate frisbee, disc golf and games that we create.
    </p>
    <br>
    <p class="index">
        Please use the Events and Search menu tabs to find events coming up and to learn more about RIC3 Family Ultimate Frisbee and other local frisbee happenings. Click to see <a href="https://adobe.ly/3So9pl9">RIC3 Family Ultimate Frisbee photo album</a>
    </p>

    <img src="https://i.ibb.co/VvPjRZb/RIC3-FAM.png" alt="RIC3 FAM Logo" align="left" width="10%" class="index">

    <p class="index">
        The RIC3 Fam Event Hub was created to support the event and activities associated with RIC3 Family Ultimate Frisbee along with other frisbee, youth ultimate &amp; pickup ultimate frisbee happenings in New York &amp; Michigan (primarily Hudson Valley &amp; Detroit, communities where the Event Hub sponsor RIC3 Mortgage Broker serves).
    </p>


    <p class="index">
        EVENT HUB
        <br>
        We welcome everyone to create a user profile which takes only a minute. Apple users may need to hold the login/User Name tab for it to activate. If you have questions or would like to reach out for any reason, feel free to email <a href="mailto: ultimate@RIC3Family.com">ultimate@RIC3Family.com</a>.
    </p>
    <div class="mortgage-container">
        <img src="https://i.ibb.co/0MwySt2/Organized-RIC3-CC-Sponsored-RIC3-MB.jpg" alt="Organized by RIC3 Creative Community - Sponsored by RIC3 Mortgage Broker." class="mortgage-logo">
    </div>
</main>