<main>
    <h1>Welcome to the RIC3 Family Ultimate Frisbee page</h1>

    <img src="https://storage.googleapis.com/family-frisbee-media/icons/Full_court.png" alt="RIC3 Family Ultimate Frisbee" class="home-image">

    <p class="index">
        We are a group of people coming from different walks of life, who like to play ultimate frisbee together.  
        We appreciate the Spirit of the Game, which means you play to win, but while respecting yourself, teammates, 
        opponents and the game itself. It also means the responsibility of fair play is placed on the athletes themselves, 
        rather than a referee.
    </p>

    <p class="index">
        We respect that different people are at different levels, 
        so we have modified “Family Frisbee rules” that can be found 
        <a href="https://www.RIC3Family.com/familyfrisbeerules">here</a>.
    </p>

    <p class="index">
        You can use the header menu to navigate the page. 
        Find friends, games, and groups to join or create your own, 
        just make sure you're logged in!
    </p>

</main>x