<main>
    <form id="login-form" action="/login" method="POST">
        <label class="form-label" for="login-emailAddress">Email:</label>
            <input type="text" id="login-emailAddress" name="login-emailAddress">
            <br>
        <label for="login-password">Password:</label>
            <input type="password" id="login-password" name="login-password">
            <br>
        <button type="submit" class="form-submit-button">Submit</button>
    </form>
</main>