<main>
    <div class="form-wrapper">
        <form id="login-form" action="/login" method="POST" class="create-form">
            <h3>Login</h3>
            <label class="form-label" for="login-username">Username:</label>
                <input class="form-input" type="text" id="login-username" name="login-username">
                <br>
            <label class="form-label" for="login-password">Password:</label>
                <input class="form-input" type="text" value="Family1$" id="login-password" name="login-password">
                <br>
            <button type="reset" class="form-submit-button">Cancel</button>
            <button type="submit" id="login-submit-button" class="form-submit-button">Login</button>
            <p id="register-label">Don't have an account? click <a href="/register">here</a> to create one!</p>
            <p>
                If you have lost your password, please create a new user profile and email <a href="mailto: ultimate@ric3family.com">ultimate@ric3family.com</a> to delete your existing profile. If you used the default password, it is Family1$
            </p>
        </form>
    </div>
    <a id="error-label" hidden></a>
    <script src="/public/js/loginFormValidation.js"></script>
</main>
