<main>
    <form id="login-form">
        <label class="form-label">Username:</label>
            <input type="text">
        <label>Password:</label>
            <input type="password">
        <button type="submit" class="form-submit-button">Submit</button>
    </form>
</main>