<main>
    <div class="form-wrapper">
        <form id="create-user-form" class="create-form" method="POST" action="/register">
            <h3>Create Profile</h3>
            <label class="form-label" for="username">Username:</label>
                <input class="form-input" type="text" id="username" name="username" required>
                <br>
            <label class="form-label" for="emailAddress">Email (optional):</label>
                <input class="form-input" type="text" id="emailAddress" name="emailAddress">
                <br>
            <label class="form-label" for="password">Password:</label>
                <input class="form-input" type="password" id="password" name="password" required>
                <br>
            <label class="form-label" for="confirm-password">Confirm Password:</label>
                <input class="form-input" type="password" id="confirm-password" name="confirm-password" required>
                <br>
            <button type="reset" class="form-submit-button">Cancel</button>
            <button type="submit" class="form-submit-button">Create</button>
            <p>Already have an account? Click <a href="/login">here</a> to login.</p>
                
            <p>
                You can use a made-up email, it just needs to be in an email format. 
                You will need the email address for logging in. 
                No emails will be sent from the event hub.
            </p>
        </form>
    </div>

    <a id="error-label" hidden></a>
    <script src="/public/js/registerValidation.js"></script>
</main>