<main>
    <div class="form-wrapper">
        <form id="create-user-form" class="create-form" method="POST" action="/register">
            <h3>Create Profile</h3>
            <label class="form-label" for="name">Name:</label>
                <input class="form-input" type="text" id="name" name="name" required>
                <br>
            <label class="form-label" for="username">Username:</label>
                <input class="form-input" type="text" id="username" name="username" required>
                <br>
            <label class="form-label" for="emailAddress">Email (optional):</label>
                <input class="form-input" type="text" id="emailAddress" name="emailAddress">
                <br>
            <label class="form-label" for="password">Password:</label>
                <input class="form-input" type="password" id="password" name="password" required>
                <br>
            <label class="form-label" for="confirm-password">Confirm Password:</label>
                <input class="form-input" type="password" id="confirm-password" name="confirm-password" required>
                <br>
            <p id="password">Passwords must be 8 or more characters and include a capital, number and special character</p>
            <button type="reset" class="form-submit-button">Cancel</button>
            <button type="submit" id="register-submit-button" class="form-submit-button">Create</button>
            <p>Already have an account? Click <a href="/login">here</a> to login.</p>
                
            <p>
                Name and username are visible on the event hub. 
                Required waiver forms will either be emailed or can be completed at the site of the participant's first RIC3 Family Ultimate Frisbee event. 
                A waiver is not required at most pickup events.
            </p>
        </form>
    </div>

    <a id="error-label" hidden></a>
    <script src="/public/js/registerValidation.js"></script>
</main>