<main>
    <form method="post" action="/search">
        <label for="search-form">Enter Search Here:</label>
            <input type="text" id="search-form" name="search-form">
        <button type="submit" class="form-submit-button">Submit</button>
    </form>
</main>