<main>
    <div class="form-wrapper">
        <form id="searchForm" class="create-form">
            <label for="searchFormInput">Enter Search Here:</label>
            <input type="text" id="searchFormInput" form="searchForm">
        </form>
    </div>

    <div id="list-collection">
        <div class="list-wrapper">
            <h3 class="list-header">Family Frisbee Members</h3>
            <dl id="player-list" class="list-of-all"></dl>
        </div>

        <div class="list-wrapper">
            <h3 class="list-header">Groups</h3>
            {{#if currentUser.isAdmin}}
                <a href="/create-group">Create New Group</a>
            {{/if}}
            <dl id="group-list" class="list-of-all"></dl>
        </div>

        <div class="list-wrapper">
            <h3 class="list-header">Events</h3>
            {{#if currentUser.isAdmin}}
                <a href="/create-event">Create New Event</a>
            {{/if}}
            <dl id="game-list" class="list-of-all"></dl>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="/public/js/search.js"></script>
