<div class="slideshow-container">
    {{#each slideshowImages}}
        <div class="slideshow-image-container">
            <button class="add-image-button" onclick="previousImage();">&lt</button>

            <img src="{{this}}" class="slideshow-image" alt="Slideshow image">
            
            <button class="add-image-button" onclick="nextImage();">&gt</button>

            {{#if ../isOwner}}
                <button class="delete-image-button">Delete</button>
            {{/if}}
            {{#unless ../isOwner}}
                {{#if ../currentUser.isAdmin}}
                    <button class="delete-image-button">Delete</button>
                {{/if}}
            {{/unless}}
        </div>
    {{/each}}
    <!--
    {{#if isOwner}}
        <button class="add-image-button">Add Image</button>
    {{/if}}
    -->

    <p id="error-label" hidden></p>
    <p id="message-label" hidden></p>
</div>

<script src="/public/js/slideshow.js"></script>
<script src="/public/js/pictures.js"></script>