<div class="form-wrapper">
    <form id="pfp-form" action="pictures/pfp/{{user._id}}">
        <label for="pfp-upload">Upload new profile picture</label>
            <input id="pfp-upload" type="file" name="profilePicture" accept="image/jpeg">
        <button type="submit" id="image-submit-button">Upload</button>
    </form>
</div>